*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    
}
:root{
    --bitcoin-orange: #f9731a;
    --soft-orange: #ffe9d5;
    --secundary-blue: #1a9af7;
    --soft-blue:#e7f5ff;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    background: linear-gradient(207.8deg, #000000 16.69%, #F7931A 100%);
}
header img{
    /* display: inline-block; */
    /* margin: auto; */
    align-self: center;
    width: 90%;
    height: 24px;
    margin-top: 60px;
}
.header--title-container{
    display: flex;
    flex-direction: column;
    width:90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
}

.header--title-container h1{
    font-size: 3rem;
    color: #fff;
    font-weight:bold;
    line-height: 4rem;
}
.header--title-container p{
    color: var(--soft-orange);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    line-height: 2.6rem;
}
.header--title-container .header-button{
    position: absolute;
    top: 320px;
    height: 35px;
    padding: 10px;
    width: 220px;
    background-color: var(--off-white);
    color:#000000;
    border: none;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 2.6);
    font-weight: bold;
    border-radius: 8px;
    align-self: center;
    font-size: 1.2rem;
}
.header-button span{
    display: inline-block;
    margin-left: 6px;
    height: 10px;
    width: 16px;
    background-image: url('assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
}







